/.vagrant
/software
/modules/concat
/modules/archive
/modules/connect
/modules/easy_type
/modules/em_utils
/modules/filemapper
/modules/limits
/modules/stdlib
/modules/swap_file
/modules/sysctl
/modules/timezone
/modules/mq_config
/modules/mq_install
.byebug_history
/.librarian
/.tmp
.DS_Store
/modules/software/files
